# Virtual environment
venv/
.venv/
env/
ENV/

# Python cache
**/__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebooks
.ipynb_checkpoints/

# IDE files
.vscode/
.idea/

# Temp folders and binary outputs
catboost_info/
models/*.joblib
